

.families-page{
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
}

.families{
  padding: 5%;
  height: 90vh;
  width: 90vw;
  background-color: rgba(44, 43, 43, 0.76);
}

.family{
  border: 3px solid;
  border-radius: 10px;
  border-color: rgb(171, 168, 83);
  flex: fill;
  padding: 3em;
  margin: 5px;
  text-align: center;
  width: 25%;
  float: left;
}

.family-header{
  font-family: 'Pattaya', sans-serif;
  border-radius: 15px;
  color: rgb(196, 166, 36);
  background: rgba(32, 32, 195, 0.808)
}

.noble{
  border-radius: 10px;
  font-family: 'Pattaya', sans-serif;
  background-color: #555873e8;
}

.stat{
  font-size: 20px;
}