.FamiliesView{
  position: absolute;
  top: 5%;
  right: 1%;
  background-color: white;
  height: 80%;
  width: 200px;
}

.FamiliesDropdown{
  height: 19px;
}

ul{
  padding-inline-start: 0%;
  margin-block-start: 0%;
  margin-block-end: 0%;
}

.NoblesView{
  padding: 0;
  height: calc(100% - 19px);
  background-color: blue;
  overflow: scroll;
}

.noble{
  text-align: center;
  display: table-row;
  background: rgb(194, 218, 247);
}